<%= form_for(@ha) do |f| %>
  <% if @ha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ha.errors.count, "error") %> prohibited this ha from being saved:</h2>

      <ul>
      <% @ha.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <%= f.text_field :has_string %>
  </div>
 
  
<% end %>
